<div class="container-fluid">
  @for (cube of displayCubes; track cube.id) {

    @if (isText(cube)) {
      <app-text-view [cube] = "cube" ></app-text-view>
    }

    @if (isImage(cube)) {
      <app-image-view [cube] = "cube"></app-image-view>
    }

    @if (isVideo(cube)) {
      <app-video-view [cube] = "cube" ></app-video-view>
    }

    @if (isButton(cube)) {
      <app-button-view [cube] = "cube" ></app-button-view>
    }

    @if(isCode(cube)){
      <app-code-view [cube] = "cube"></app-code-view>
    }

    @if(isForm(cube)){
      <app-form-view [cube] = "cube" ></app-form-view>
    }
  }
</div>
