

<div class="row">
  <h1 class="text-white text-center mt-3">Happy City</h1>
</div>

<div class="row text-center">
  <app-clock></app-clock>
</div>

<div class="row text-center">
  <app-hero-energy></app-hero-energy>
</div>

<div class="row text-center">
  <app-hero-money></app-hero-money>
</div>

<div class="row px-2">
  <app-progress></app-progress>
</div>


<div class="row text-center">
  <div class="patreon-container" [class.show]="showPatreonImage">
    <a href="https://www.patreon.com/HappyCityDev" target="_blank" rel="noopener noreferrer">
      <img src="assets/img/others/patreon.jpeg"  class="patreon-image img-fluid">
    </a>

  </div>

</div>
